/* colors */
$blue:#385399;
$darkGrey:#8F8F8F;
$white:#FFFFFF;
$lightGrey:#efefef;

/* dimentions */
$margin-sm:1.5rem;
$margin-lg:5rem;
$navbarPadding:10%;

/* fontSizes */
$midFont: 3rem;
/*home*/
$homeBorderRadius:2rem;
$homeWidgetBorderRadius:1rem;
$homeLogoMargin:3rem;