.home {
    height: $pagesVh;
    position: relative;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $navbarPadding*2;
   // border-radius: $homeBorderRadius $homeBorderRadius 0 0;
    overflow: hidden;


    &__cover {
        background-image: linear-gradient(45deg, $overlay--blue, darken($overlay--blue, 10%)), url("/images/home-cover.png");
        background-position: top;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }



    &__heart-logo-subtitle {
        font-size: $midFont;
        margin-left: $margin-sm;

    }


    &__right-widget-container {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        width: 5rem;
        height: 25rem;
        padding: 1rem 3rem;
        border-radius: $homeWidgetBorderRadius 0 0 $homeWidgetBorderRadius;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

    }

    &__checknow-logo-container {
        margin-bottom: -$homeLogoMargin;
        margin-top: $homeLogoMargin;
        min-width: 15rem;
        min-height: 15rem;
        flex-basis: 20rem;
        padding: $checknowPadding;
        border-radius: 50%;
        background: $blue;
        position: relative;

        span {
            position: absolute;
            bottom: 1.5rem;
            left: 23%;
            font-weight: 700;
        }

    }

    &__checknow-logo {
        position: absolute;
        top: 0;
        bottom: 3rem;
        margin: auto;
        left: 27%;
    }
}