.custom-btn {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1.5rem;
    padding: 0.4rem;
    color: $darkGrey;
    text-align: center;

    &:hover {
        text-decoration: none;
    }

    &--white {
        background: $white;
        border-color: $blue;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &--lightBlue {
        background: $white;
        border-color: $lightBlue;

        &:hover {
            background-color: $lightBlue;
            color: $white
        }
    }
}