.heart-loader {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        transition: none;
    }

    &__dashes {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 0.3rem dashed $lightBlue;
        position: absolute;
        animation: rotate 5s linear 0s infinite normal forwards;
    }

    &__animation-container {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        position: relative;

        .rotator {
            display: block;
            width: 100%;
            height: 0.5rem;
            position: absolute;
            background: transparent;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            animation: rotate 2s linear 0s infinite reverse forwards;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 1rem;
                height: 1rem;
                background-color: $blue;
                right: -0.35rem;
                border-radius: 50%;

            }

            &::before {
                @extend .rotator::after;
                left: -0.35rem;
            }
        }
    }



    &__img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            max-width: 12rem;
            height: auto;
            animation: heartBeat 0.5s linear 0s infinite alternate forwards;
        }
    }
}