/* start of navbar */

.custom-navbar {
    display: flex;
    align-items: center;
    height: $navVh;
    min-height: 5rem;
    width: 100vw;
    padding: 0 $navbarPadding;
    background-color: $white;


    &__logo-container {
        width: 4rem;
        height: 4rem;
        margin-right: $margin-sm;
        display: flex;
        flex-direction: column;

    }

    &__logo {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__links {
        display: flex;
        align-items: center;

    }

    &__link {
        color: $darkGrey
    }

    &__vertical-line {
        width: 0.1rem;
        height: 80%;
        background-color: $lightGrey;
        margin: 0 $margin-sm;

    }

    &__buttons {
        display: flex;

    }

    &__button {
        min-width: 10rem;

        &:last-of-type {
            margin-left: $margin-sm;
        }
    }

    &__signed-container {
        display: flex;

        .info {
            position: relative;
            margin-left: 3rem;

            .logout {
                position: absolute;
                bottom: -1.5rem;
                right: 0;
            }
        }
    }

    &__page-title {
        color: $midGrey;
        margin-right: 1rem;

        span {
            margin: 0 0.5rem;
        }
    }

    &__notification {
        color: $darkGrey;
        position: relative;

        span {
            position: absolute;
            color: $white;
            background: $lightBlue;
            left: 0.5rem;
            top: -0.6rem;
        }
    }
}

.second-navbar{
background:#385399;
width: 100%;
display: flex;
align-items: center;
.custom-navbar__page-title{
      position: relative;
  a{
        color:white;
        font-weight: bold;
        
  }
}
}

.nav-active::after{

    content: " ";
    display: block;
    margin-top: 5px;
    width: 5.1rem;
    background: #ffc107;
    height: 3px;
    position: absolute;
    display: block;
    margin-top: 0.5rem;
}
.second-navbar-container{
  padding-top:10px
}
/* end of navbar */


.dashnavbar {

        background-color: #385399;


        ul {
                min-height: 40px;
                display: flex;
                align-items: center;
        }

        .nav-link {
                padding-top: 0;
                padding-bottom: 0;
                color: white;
        }
}

.dashnavbar__item--active {
        position: relative;

        &:after {
                content: " ";
                position: absolute;
                width: 80%;
                height: 4px;
                margin: auto;
                left: 0;
                right: 0;
                bottom: -9px;
                display: block;
                background-color: yellow;
        }

}